# Игнорируем файлы с паролями и переменными окружения
.env
datas.env

# Игнорируем скомпилированные программы (бинарники)
/bot
*.exe

# Игнорируем папки сред разработки
.idea/
.vscode/

# Игнорируем базу данных PostgreSQL (если она локальная)
pgdata/